<!-- CSS FILE -->
<link rel="stylesheet" type="text/css" href="/public/css/style.css" />

<%- include('../layout/header'); -%>
<br>
<br>
<div class="welcome-message">
    Welcome back, <%=user.name%>
    <br>
    <%=user.email%>
</div>
    <br>
    <a href="/logout"><button class="logout-button">Log out</button></a>    
    
    <div class="profile-container">
        <h3>Your captions and comments:</h3>
        <% images.forEach(function(img){ %>
        <div class="profile-child">
            <br>
            <h4><%=img.title%></h4>
            <%=img.author%>, <i><%=img.date%></i>
            <br>
            <br>
            <%=img.description%>
            <br>
            <br>
            <a href="/image/<%=img.id%>">
            <img src=../public/<%=img.filename%> width="700" height="600">
            </a>
            <br>
            <br>
            <br>
            Comments:
            <br>            
            <% captions.forEach(function(caption){ %>
                <%if (img.id === caption.img_id) { %>
                    <br>
                    <b><%=user.name%> - <%=user.email%></b>:
                    <%=caption.caption_text%>
                    <br>                    
                <% } %>
            <% }); %>
            <br>
            <br>
            <br>
        </div>
        <% }); %>
    </div>
